@import "tailwindcss";


:root {
  /*colors*/
  --primary: #1e0c27;
  --bgcolor: rgb(40, 0, 40);
  --hprimary: #672a84;
  --mainColor: #421b55;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}